@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

body {
  margin: 0;
  /* remove double click selection */
  /* user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; */
  font-family: "Audiowide", cursive;
}

.header {
  height: 30px;
  width: 100%;
  color: white;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(3, 8, 31, 1);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0);
  /* user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; */
}

/* .modal-container {
  display:none;
  position: fixed;
  background: (0,0,0,0.5);
  top: 0;

} */

#start-game {
  background-color: rgba(3, 8, 31, 0.2);
  border: white 1px solid;
  color: white;
  padding: 4px;
  font-family: "Audiowide", cursive;
}

#start-game :hover {
  background-color: white;
  border: rgba(3, 8, 31, 1) 1px solid;
  color: rgba(3, 8, 31, 1);
  padding: 4px;
  font-family: "Audiowide", cursive;
}

#health {
  border-radius: 1px;
  height: 20px;
  width: 100%;
  color: #0b2245;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0);
}

progress::-webkit-progress-bar {
  background-color: transparent;
  border-radius: 7px;
}
progress::-webkit-progress-value {
  background-color: #e2f0cb;
  border-radius: 7px;
  box-shadow: 1px 1px 5px 3px #0b2245;
}

/* #canvas {
  background-color: #081933;
} */

.cursor {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 3px solid #e2f0cb;
  transition: all ease;
}

#score {
  position: fixed;
  color: white;
  margin-left: 5px;
  margin-top: 2px;
}
